/* Vars:
  ========================================================================== */

// Font
$mainFont                : 'MPLUS1p', Helvetica,sans-serif;


// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.5;

$lgDesktopWidth          : 1600px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


// Main color
$default-color           : #ffffff;
$defaultBlack-color      : #000000;
$primaryText-color       : #20201F;
$secondary-color         : #595958;
$danger-color            : #D9001D;
$dangerHover-color       : #EF0F2D;
$dangerDarker-color      : #EF1010;
$primary-color           : #006FAC;
$light-color             : rgba(32, 32, 31, 0.75);

// Neutral Color
$neutral-primary         : #191919;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #E0E0E0;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;
